@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

body {
	background: #eee;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

header{
	text-align: center;
	color: #232323;
}

header .judul{
	font-size: 17pt;
}

header .deskripsi{
	font-size: 11pt;
}

.wrap {
	width: 950px;
	margin:25px auto;
}

nav.menu ul {
	overflow:hidden;
	color:#fff;
	list-style: none;
	float:left;
	padding:0;
	width: 620px;
	margin:0 0 0;
	background: #1abc9c;
}

nav.menu ul li {
	margin:0;
	float:left;
}

nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

nav.menu ul a:hover {
	text-decoration: underline;
	background:#16a085;
}

.sidebar {
	float:right;
	width:315px;
}

.sidebar .widget {
	padding:25px;
	margin:0 0 25px;
	background:#fff;
	border-bottom: 2px solid #fff;
	transition: all 0.5s ease;
}

.sidebar .widget:hover {
	border-bottom: 2px solid #3498db;
}

.sidebar .widget h2 {
	padding:0;
	margin:0 0 15px;
	color:#3498db;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}

.sidebar .widget p {
	font-size: 14px;
}

.sidebar .widget p:last-child {
	margin:0;
}

.blog {
	float:left;
}

.conteudo {
	width:575px;
	padding:25px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
}

.conteudo img {
	display: block;
	border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10;
    background: #eeeeee;
	min-width: 50px;
	max-width: 200px;
}

.conteudo h1 {
	padding:10px;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}

.conteudo p:last-child {
	margin: 0;
}
